<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api</title>
</head>

<body>
    <div class="container">
        <h2>List api</h2>
        <div class="api" style="display:grid; gap: 10px">
            <a href="api/v2/auth">Account</a>
            <a href="api/v2/category_menu">Category Menu</a>
            <a href="api/v2/category_special">Category Special</a>
            <a href="api/v2/chat">Chat</a>
            <a href="api/v2/new_event">New Event</a>
            <a href="api/v2/preferent">Preferent</a>
            <a href="api/v2/product_laptop">Product Laptop</a>
            <a href="api/v2/product_mobile">Product Mobile</a>
            <a href="api/v2/product_suggestion">Product Suggestion</a>
            <a href="api/v2/search_special">Search Special</a>
            <a href="api/v2/slide">Slide</a>
        </div>
    </div>
</body>

</html>